{% extends 'Store/store_base.html' %}
{%block content %}

<div class="col-md-7">
                        
  <div class="pro-div-heading">
          <h3 style="color: #cb08e8;">Attributes List</h3>
      </div>

        <br><br>
      <h5><a href="/AddAttribute"> Add Attribute</a></h5>  
    <div class="table-responsive">
      <table class="table  tbd-brd-non">
        <thead>
          <tr>

            <th colspan="2">Attribute Names</th>
            <th>Attribute Values</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for attribute in attributes %}
          <tr>
            <td colspan="2">{{attribute.filter_names}}</td>
            <td>{{attribute.filter_values}}</td>
            <td>{{attribute.status}}</td>

            <td>
              <a href="/EditProduct/{{product.id}}"><i class="fa fa-pencil-square-o" style="color: green; cursor: pointer;" ></i></a>
              &nbsp;
              <a href="/DeleteProduct/{{category.id}}"><i class="fa fa-trash-o" style="color: red; cursor: pointer;" ></i></a>
              &nbsp;
              <a href="/Attribute/{{category.id}}"><i class="fa fa-plus-square-o" style="color: red; cursor: pointer;" ></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        
      </table>
      

    </div>

      <br>

</div>

{% endblock %}