{% extends 'Store/store_base.html' %}
{%block content %}

<div class="col-md-7">
                        
  <div class="pro-div-heading">
      <h3 style="color: black;">Insert Filter</h3>
  </div>

  <br><br>
  <form action="/Addfilter" method="POST" class="" id="" enctype="multipart/form-data">{% csrf_token %}
    <div class="row">


      <div class="col-md-12"> 
        <div class="form-group">
          <label>Filter Name :</label>
          <input class="form-control costom-input" required type="text" name="filter_name" placeholder="Filter Name">
        </div>

      </div>
      <div class="col-md-12"> 
        <div class="form-group">
            <label for="exampleFormControlSelect1">Select Category</label>
            <select class="form-control" id="exampleFormControlSelect1" required name="category_id">
              {% for category in categories %}
                <option value="{{category.id}}">{{category.name}}</option>
              {% endfor %}
    
            </select>
        </div>
      </div>
      <div class="col-md-12"> 
        <div class="form-group">
        <button type="submit" class="btn pro-click-btn">Add Filter</button>
        </div>
      </div>


    </div>
  </form>


    

  <br>

  
</div>


{% endblock %}
