<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'r13/css/bootstrap.min.css'%}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'r13/css/style.css' %}">

    <title>Simntx About Us</title>
  </head>
  <body>
   


<section class="header_sec">
        <div class="container-fluid pl-0">

          <div class="row align-items-center">
            <div class="col-md-3">
                  <!-- <div class="logo">
                      <a href="#"><img src="images/logo.png" width="100%" alt=""></a>
                  </div> -->
                  <div class="logo-div">
                    <img src="{% static 'r7/images/logo.png' %}" style="width: 100%">
                    <!-- <small style="font-size: 14px;">Driver</small> -->
                  </div>
            </div>
            <div class="col-md-6">

              <div class="row">
                <div class="col-md-6">
                  <div class="info_bar">
                    <h5 class="head-h5">SHOPPERS NEAR ME: <span> {{numberofstore}} </span></h5>
                 </div>
                </div>
                <div class="col-md-6">
                  <div class="info_bar">
                    <h5 class="head-h5">SHOPPERS ONLINE: <span> {{numberofstore}} </span></h5>
                 </div>
                </div>
              </div>

      
            </div>
            <div class="col-md-3">
                
                <ul class="header-social">
                  <li style="background-color: #3b5998"><a href="https://www.facebook.com/Simntx-LLC-107470381181474"><i class="fa fa-facebook"></i></a></li>
                  <li style="background-color: #00acee"><a href="https://twitter.com/simntx"><i class="fa fa-twitter"></i></a></li>
                  <li style="background-color: #db3236"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>

            </div>

          </div>

        
        </div>
</section>

<br>

<div class="container-fluid">

  <div class="row">
    <div class="col-md-8">
      <h1 class="main-logo font-55px text-right" style="color: #ccc700;border-bottom: 3px solid #b30579;">About Us</h1>
    </div>
  </div>
<br>
  <div class="row mb-5 pb-4 ">
    <div class="col-md-8">
        
        <form method="get" id="nameform">
        	 <div class="tab-pane ">
                <div class="row">
                    <div class="col-md-12  custum-redio-btn ">
                         <h5>
                          SIMNTX(sim-N-tx) is a mobile and online app which sets to provide an easy and affordable way, For local and small businesses to grow. As well as to create an online space dedicated to helping small and local business transition into the online market or expand their online presence. Because SIMNTX’s services is dedicated to helping its vendors, We recognize the best way to advertise online, or any other fashion would be to display the logos and names of the business which come together to make SIMNTX. That also means that our advertisements on Instagram, Twitter, Facebook, Snapchat and any other social media will bring attention to the stores which utilize our services, we also aim to provide the best costumer experience, as well as making online shopping a little more social and fun!
                         </h5>
                  </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-2 offset-md-2">
            
    </div>

  </div>

    <div class="row mt-5 pt-5">
      <div class="col-md-10"></div>
      <div class="col-md-2"> 
        <!-- <button class="btn btn-grey-2">GO</button>  -->
      </div>
      <a href="/" class="col-md-2 btn btn-grey-2">Return to Dashboard</a>
    </div>



  </div>
</div>

<br><Br>



<section>
  
  <div class="">

</section>







<footer>
  
  <div class="container">
      <div class="row">
          <ul>
            <li><a href="/about" target="_blank" rel="noopener noreferrer">About us</a></li>
            <li><a href="/contact" target="_blank" rel="noopener noreferrer">Contact</a></li>
            <li><a href="/career" target="_blank" rel="noopener noreferrer">Career</a></li>
          </ul>
      </div>
  </div>

</footer>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">AGREEMENT FORM</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <div class="row">
          <div class="col-md-12">
                      <textarea class="form-control" style="height: 200px;width: 100%;background-color: #e5e5e8;resize: none;" readonly="">                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                      </textarea>
                      
                    </div>
        </div>

      </div>

    </div>
  </div>
</div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'r13/js/jquery-3.2.1.slim.min.js'%}"></script>
    <script src="{% static 'r13/js/popper.min.js'%}"></script>
    <script src="{% static 'r13/js/bootstrap.min.js'%}"></script>
  </body>
</html>